{% extends 'file_manager/layout.html' %}
{% load static %}

{% block title %}処理を受理しました{% endblock %}

{% block extra_script %}
<script type="text/javascript" src="{% static 'js/polling_task_status.js' %}"></script>
{% endblock %}

{% block content %}
<div class="ui active inverted dimmer">
    <div class="ui text loader">
        <div>処理を受け付けました。</div>
        <p>現在作業中です。しばらくお待ちください。</p>
        <h3 id="detail">ロード中</h3>
    </div>
  </div>
  <div id="task-id" data-taskid="{{ task_id }}"></div>
{% endblock %}